.formInput{
    border-radius: 4px;
    border: 0;
    width: 100%;
    padding: 1rem;
    
    background: #333;
    color: #fff;
    transition: 500ms;
    outline: none;
}
.error{
    color: crimson;
}
.formInput:hover{
   box-shadow: 0 0 0 3px lightseagreen;
     
}
 
 