img {
  max-width: 100%;
  max-height: 100%;
}
*{box-sizing: border-box;}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
a{
  text-decoration: none;
  color: #fff;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
ul{
  list-style: none;
}
