@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto&display=swap');
:root {
 
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
    font-family: "Nunito";
}

 
body {
  margin: 0;
  padding: 0;

}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  outline: none;
}
button:focus{
  outline: 0;
}

button:hover {
  filter: brightness(0.8);
}
 
